<div class="name">
  <span class="b">윤영권</span>님이 로그인하셨습니다.
</div>
<div id="gnb">
  <ul>
    <li>
      <a href="/">
      <img role="menu1" class="menu" src="/images/menu1_off.gif" alt="HOME" subject="/images/menu1_off.gif" />
      </a>
    </li>
    <li>
      <a href="/keys">
      <img role="menu2" class="menu" src="/images/menu2_off.gif" alt="인증키 관리"  subject="/images/menu2_off.gif"/>
      </a>
    </li>
    <li>
      <a href="/apilist">
      <img role="menu3" class="menu" src="/images/menu3_off.gif" alt="오픈 API"  subject="/images/menu3_off.gif"/>
      </a>
    </li>
  </ul>
  <div class="/admin">
    <a href="admin"><img src="/images/menu_admin.gif" alt="관리자" /></a>
  </div>
</div>