<div id="login">
  <div ng-show="!principal.authenticated">
    <div class="login_lt">
      <div class="login_tit">통합인증로그인</div>
      <div class="login_box"><input type="text" name="username" id="username" class="idpw" ng-model="username"/></div>
      <div class="login_box"><input type="text" name="password" id="password" class="idpw" ng-model="password"/></div>
    </div>
    <div class="login_rt">
      <div class="login_idsave">
        <span><input type="checkbox" id="rememberMe" name="rememberMe"/></span>
        <span>ID저장</span></div>
      <div>
        <input type="button" ng-click="login();" value="로그인"/>
        <input type="button" ng-click="getApiKeyList();" value="API KEY LISTUP"/>
      </div>
    </div>
  </div>
  <div ng-show="principal.authenticated">
    <div class="login_tit">통합인증로그인</div>
    <div class="logout">
      <img src="/images/login_icon.gif" alt="" /> <span class="name">{{principal.name}}</span> 님 환영합니다.
    </div>
    <div class="login_idsch">
      <div class="ml10 fl">
        <a href="/logout"><img src="/images/btn_logout.gif" alt="로그아웃"/></a>
      </div>
    </div>
  </div>
</div>