<h2><img src="/images/tit_key.gif" alt="인증키 관리" /></h2>
<div id="keylist">
  <select ng-model="currentApiKey" ng-options="apiKey as apiKey.id for apiKey in apiKeys">
  </select>
</div>
<div id="btn_rt">
  <span><input type="image" ng-click="deleteApiKey();" src="/images/btn_del.gif" alt="삭제" /></span>
  <span><input type="image" ng-click="generateApiKey();" src="/images/btn_issue.gif" alt="발급" /></span>
</div>
<div id="prolist">
  <div class="pro_tit">인증된 Program List <span class="point">(Key: {{currentApiKey.id}})</span></div>
  <div class="tableline"></div>
  <div class="pro_view">
    <ul>
      <li ng-repeat="program in currentApiKey.programs">
        <input type="checkbox" ng-model="program.checked"/> {{program.program}} <span>{{program.description}}</span>
      </li>
    </ul>
  </div>
</div>
<div id="btn_rt">
  <input type="image" ng-click="deletePrograms();" src="/images/btn_del.gif" alt="삭제"/>
</div>
<div id="proplus">
  <div class="pro_txt">
    <span>프로그램 추가</span>
    <span><input type="text" ng-model="programName"/></span>
    <span class="ml10">설명</span>
    <span><input type="text" ng-model="programDescription" /></span>
    <input type="image" ng-click="addProgram();" src="/images/btn_plus.gif" alt="추가"/>
  </div>
</div>