<h2><img src="/images/tit_notice.gif" alt="공지사항" /></h2>
<div class="tableline"></div>

<div id="Notices">
  <table summary="공지사항리스트" id="notice">
    <caption>공지사항리스트</caption>
    <tbody ng-repeat="m in notices">
    <tr>
      <td class="noti title">
        <img ng-show="m.top" src="/images/noti_icon.gif" alt="NOTICE" />
        <a href="javascript:;" ng-click="toggleContent(m);">{{m.title}}</a>
      </td>
      <td class="noti date">
        {{m.createTime | date:'yyyy-MM-dd'}}
      </td>
    </tr>
    <tr ng-show="m.show">
      <td colspan="2" class="view">
        {{m.content}}
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div id="paging">
  <span><a href="#"><img src="/images/page_prev2.gif" ng-click="loadNotices(pageIndex - 10);"/></a></span>
  <span><a href="#"><img src="/images/page_prev1.gif" ng-click="loadNotices(pageIndex - 5)"/></a></span>
  <a ng-repeat="page in pages" href="javascript:;" ng-click="loadNotices(page-1);">{{page}}</a>
  <span><a href="#"><img src="/images/page_next1.gif" ng-click="loadNotices(pageIndex + 5)"/></a></span>
  <span><a href="#"><img src="/images/page_next2.gif" ng-click="loadNotices(pageIndex + 10)"/></a></span>
</div>
