<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">공지사항 관리</h3>
  </div>
  <div class="panel-body">
    <div style="text-align: right">
    <button class="btn btn-success" ng-click="showWriteNoticeModal();">공지글 작성하기</button>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <td>ID</td>
          <td>제목</td>
          <td>작성자</td>
          <td>표시여부</td>
        </tr>
      </thead>
      <tbody ng-repeat="m in pageItems">
      <tr>
        <td>{{m.id}}</td>
        <td class="noti title">
          <img ng-show="m.top" src="/images/noti_icon.gif" alt="NOTICE" />
          <a href="javascript:;" ng-click="showEditNoticeModal(m);">{{m.title}}</a>
        </td>
        <td>{{m.writer}}</td>
        <td ng-show="m.deleted">
          <button class="btn btn-warning btn-xs" ng-click="showNotice(m);">삭제됨</button>
        </td>
        <td ng-show="!m.deleted">
          <button class="btn btn-success btn-xs" ng-click="hideNotice(m);">표시됨</button>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination></pagination>
  </div>
</div>

<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        제목 : <input type="text" ng-model="modalTitle"/>
        <input type="checkbox" ng-model="modalTop"/> 공지로 선택
        <textarea id="noticeContent" name="content" style="width:535px;height:300px"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="writeOrEdit();">Save Or Update</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->