<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">대성 공통 App center</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li name="index"><a href="#">Home</a></li>
      <li name="apilist" class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">오픈 API <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#/apis/keymanagement">인증키 관리</a></li>
          <li><a href="#/apis/dataformat">결과값 처리</a></li>
          <li><a href="#/apis/address">주소 검색</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Messages</li>
          <li><a href="#">사내 메신져</a></li>
          <li><a href="#">업무전달</a></li>
          <li class="dropdown-header">Download</li>
          <li><a href="#">javascript client</a></li>
          <li><a href="#">java client</a></li>
          <li><a href="#">.net client</a></li>
        </ul>
      </li>
      <li name="keys" ng-show="principal.authenticated"><a href="#keys">인증키관리</a></li>
      <li name="admin" class="dropdown" ng-show="principal.admin">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">관리자 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#/admin/statistics">이용통계</a></li>
          <li><a href="#/admin/notices">공지사항 관리</a></li>
          <li><a href="#/admin/crew">Crew 관리</a></li>
          <li><a href="#/apis/address">주소 검색</a></li>
        </ul>
      </li>
    </ul>
  </div><!--/.nav-collapse -->
</div>